html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html, body { 
  min-height: 100vh;
  overflow-x: hidden;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.Freeshipping p {
   color: black;
   font-family: Courier;
   margin: 0;
   cursor: pointer;
   font-size: 18px;
   font-weight: 600;
   text-decoration: underline 0.10em rgba(255, 255, 255, 0);
   transition: text-decoration-color 250ms;
   flex-shrink: 0;
}
.Freeshipping p:hover {
  text-decoration-color: black;
}
.Freeshipping {
  background: gainsboro;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topbar {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
}
.topbar li {
  display: flex;
  padding: 17px;
  color: white;
  font-family: Courier;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;
}
.topbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
  z-index: 0;
}
.containertop1 {
  display: flex;
  margin-left: -8%;
  padding: 0;
  border: 0;
  justify-content: right;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
}
.Logoicon button {
  background: transparent;
  border: none;
  margin: none;
  font-size:0;
}
.Logoicon img:hover {
  transform: translateY(1px);
}
.containertop2 {
  display: flex;
  margin: 1rem;
  padding: 0;
  border: 0;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
}
.containertop3 {
  display: flex;
  margin: 1rem;
  padding: 0;
  border: 0;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}
.Searchbar {
  display: flex;
  height: 40px;
  width: 250px;
  margin: 0rem;
}
.Searchbar input {
  overflow: hidden;
  background-color: black;
  color: white;
  border-color: black;
  transition: box-shadow 0.5s;
  height: 40px;
  width: 200px;
  text-indent: 10px;
  text-overflow: clip;
  outline: none;
  border-radius: 8px 8px 8px 8px;
}
.Searchbar input:hover {
  box-shadow: 0 0 5px 0.5px white;
}
.Searchbar ::placeholder {
  color: white;
  opacity: 70%;
  letter-spacing: 0px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.Searchbar button {
  background: transparent;
  border: none;
  margin: none;
  font-size:0;
}
.Searchbar img {
  transition: all 200ms ease-in-out;
}
.Searchbar img:hover {
  transform:scale(1.2)
}
.containertop4 {
  display: flex;
  margin-right: -8%;
  padding: 0;
  border: 0;
  gap: 1rem;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
}
.Account img:hover {
  transform: translateY(1px);
}
.Wishlist img:hover {
  transform: translateY(1px);
}
.Shoppingcart img:hover {
  transform: translateY(1px);
}
.Account button {
  background: transparent;
  border: none;
  margin: none;
  font-size:0;
}
.Wishlist button {
  background: transparent;
  border: none;
  margin: none;
  font-size:0;
}
.Shoppingcart button {
  background: transparent;
  border: none;
  margin: none;
  font-size:0;
}
.Thethird {
  display: flex;
  background-color: lightgrey;
  padding: 20px;
  z-index: 1;
  justify-content: center;
  align-items: center;
}
.Thethird p {
  color: black;
  font-family: Courier;
  padding: 5px;
  margin: 0;
  z-index: 5;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline 0.10em rgba(255, 255, 255, 0);
  transition: text-decoration-color 250ms;
  flex-shrink: 0;
}
.Thethird p:hover {
  text-decoration-color: black;
}
.topbar {
  position: sticky;
  z-index: 100;
  top: -1px;
}
.Newlooks {
  background-color: lightblue;
  padding: 45px;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Newlooks h1 {
  color: black;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  font-weight: 900;
  font-size: 80px;
  letter-spacing: -4px;
  flex-shrink: 0;
}
.Newlooks p {
  color: black;
  font-family: Courier;
  padding: 10px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 20px;
  flex-shrink: 0;
}
.Fashion1 {
  display: flex;
  background-color: lightsalmon;
  padding: 1rem;
}
.Fashion1 h1 {
  color: black;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  font-weight: 900;
  font-size: 70px;
  letter-spacing: -4px;
}
.Fashion1 p {
  color: black;
  font-family: Courier;
  margin: 0;
  font-size: 40px;
}
.fashionL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex-grow: 1;
}
.fashionR {
  display: flex;
  justify-content: right;
  align-items: center;
}
.shopnow1 h1 {
  z-index: 3;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  background-color: black;
  color: white;
  padding: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px white;
}
.shopnow1 button {
  background: transparent;
  border: none;
  margin: none;
  padding-top: 0.5rem;
  font-size:0;
}
.shopnow1 h1:hover {
  background-color: #404040;
  transition-duration: 0.3s;
  cursor: pointer;
}
.Summer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.Summercollection {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.Summercollection h1 {
  font-family: Courier;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.grid {
  grid-template-columns: repeat(10, 200px);
  scroll-snap-type: x mandatory;
  gap: 1rem;
  display: grid;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 1rem;
}
.promvideo {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: black;
  height: 720px;
}
body ::-webkit-scrollbar {
  width: 5px;
  height: 4px;
  appearance: none;
  margin: 5px;
}
body ::-webkit-scrollbar-thumb {
  background-color: rgb(170, 170, 170);
  border-radius: 1rem;
}
body ::-webkit-scrollbar-track {
  background: rgb(238, 238, 238);
  border-radius: 1rem;
}
/*.container {
  position: relative;
  display: grid;
  height: 287px;
  width: 80%;
}
.container .box1 {
  position: absolute;
  height: 287px;
  width: 40px;
  margin: 0;
  border: 0;
  padding: 0;
  justify-self: left;
  opacity: 1%;
  background-color: rgb(229, 231, 235);
  transition: all 0.2s ease-in-out;
  font-size: 25px;
  z-index: 51;
}
.container .box2 {
  position: absolute;
  height: 287px;
  width: 40px;
  margin: 0;
  border: 0;
  padding: 0;
  justify-self: right;
  opacity: 1%;
  background-color: rgb(229, 231, 235);
  transition: all 0.2s ease-in-out;
  font-size: 25px;
  z-index: 51;
}
.container:hover .box1{
  opacity: 70%;
}
.container:hover .box2{
  opacity: 70%;
}*/
.grid a {
  z-index: 50;
}
.base1 img, .base2 img, .base3 img, .base4 img, .base5 img, .base6 img, .base7 img, .base8 img, .base9 img, .base10 img {
  transition: all 150ms ease-in-out;
}
.base1 img:hover, .base2 img:hover, .base3 img:hover, .base4 img:hover, .base5 img:hover, .base6 img:hover, .base7 img:hover, .base8 img:hover, .base9 img:hover, .base10 img:hover {
  transform:scale(0.95)
}
.base1 img:hover + h2, .base2 img:hover + h2, .base3 img:hover + h2, .base4 img:hover + h2, .base5 img:hover + h2, .base6 img:hover + h2, .base7 img:hover + h2, .base8 img:hover + h2, .base9 img:hover + h2, .base10 img:hover + h2 {
  transform:translateY(-3px)
}
.base1 img:hover + h2 + h3, .base2 img:hover + h2 + h3, .base3 img:hover + h2 + h3, .base4 img:hover + h2 + h3, .base5 img:hover + h2 + h3, .base6 img:hover + h2 + h3, .base7 img:hover + h2 + h3, .base8 img:hover + h2 + h3, .base9 img:hover + h2 + h3, .base10 img:hover + h2 + h3 {
  transform:translateY(-3px)
}
h2 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: black;
  font-weight: 900;
  padding-top: 8px;
  transition: all 150ms ease-in-out;
}
h3 {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  color: black;
  position: relative;
  bottom: 21px;
  left: 153.5px;
  margin-right: 100%;
  margin-bottom: -10%;
  transition: all 150ms ease-in-out;
}
a {
  text-decoration: none;
}
.base1, .base2, .base3, .base4, .base5, .base6, .base7, .base8, .base9, .base10 {
  height: 319px;
}
.SPORTS {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hsport {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hsport h1 {
  color: black;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  margin-top: 2rem;
  position: relative;
  font-weight: 900;
  font-size: 50px;
}
.hsport p {
  color: black;
  font-family: Courier;
  padding: 10px;
  margin: 0;
  position: relative;
  font-size: 25px;
}
.summersport {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.sport1 {
  display: flex;
}
.sport2 {
  display: flex;
}
.shopnow2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shopnow2 h1 {
  z-index: 3;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  bottom: 200px;
  left: 35px;
  font-size: 15px;
  background-color: lightgrey;
  color: black;
  padding: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px black;
  margin-top: 10px;
  max-width: 129px;
  max-height: 47px;
}
.shopnow2 button {
  background: transparent;
  border: none;
  margin: none;
  font-size:0;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.shopnow2 p {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 20px;
  font-size: 30px;
  font-family: Courier;
}
.shopnow2 h1:hover {
  background-color: grey;
  transition-duration: 0.3s;
  cursor: pointer;
}
.shopnow3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shopnow3 h1 {
  z-index: 3;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  bottom: 200px;
  left: 35px;
  font-size: 15px;
  background-color: lightgrey;
  color: black;
  padding: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px black;
  margin-top: 10px;
  max-width: 129px;
  max-height: 47px;
}
.shopnow3 button {
  background: transparent;
  border: none;
  margin: none;
  font-size:0;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.shopnow3 p {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 20px;
  font-size: 30px;
  font-family: Courier;
}
.shopnow3 h1:hover {
  background-color: grey;
  transition-duration: 0.3s;
  cursor: pointer;
}
.contacts {
  display: flex;
  background-color: rgb(24, 24, 24);
  margin-top: 4rem;
  border: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ftgrid {
  display: grid;
  grid-template-columns: 500px 500px 500px;
  gap: 2rem;
  justify-content: center;
  justify-items: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.ftgrid ul {
  color: darkgrey;
  list-style: none;
}
.ftgrid li {
  padding: 5px;
  font-family: courier;
}
.ftgrid li:hover {
  color: white;
  cursor: pointer;
}
.ftgridcol1 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  column-gap: 1rem;
}
.ftgridcol2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  column-gap: 1rem;
}
.ftemail input{
  overflow: hidden;
  background-color: rgb(24, 24, 24);
  color: white;
  border-color: darkgray;
  z-index: 1;
  text-indent: 10px;
  text-overflow: clip;
  outline: none;
  height: 50px;
  width: 400px;
  transition: box-shadow 0.5s;
  outline: none;
  border-width: 1px;
}
.ftemail input:hover {
  box-shadow: 0 0 5px 0.5px white;
}
.ftgrid h1 {
  color: white;
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 20px;
  font-family: courier;
}