html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html, body {
    min-height: 100vh;
    overflow-x: hidden;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, rgb(123, 90, 224) 20%, rgb(164, 46, 253) 30%, rgb(213, 56, 234) 60%, rgb(251, 138, 52) 100%);
    background-size: 400%;
    animation: bg-animation 25s infinite alternate;
}
@keyframes bg-animation {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
}
.thankyou {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2em;
}
.thankyou h1 {
    color: black;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    font-weight: 900;
    font-size: 4em;
    margin-top: -3em;
}
.thankyou p {
    color: black;
    font-family: Courier;
    font-size: 1.4em;
    font-weight: 600;
    padding-bottom: 3em;
}
.linkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    box-shadow: 2px 2px 3px 3px black;
    padding: 1em;
}
.thankyou span {
    color: black;
    font-family: Courier;
    font-size: 1.1em;
    font-weight: 600;
}
.thankyou a {
    color: black;
    font-family: Courier;
    font-size: 1.1em;
    font-weight: 600;
    list-style: none;
}
@media (max-width: 600px) {
    .thankyou h1 {
        font-size: 3.5em;
    }
    .thankyou p {
        font-size: 1em;
    }
    .thankyou span {
        font-size: 0.8em;
    }
    .thankyou a {
        font-size: 0.8em;
    }
}