html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html, body { 
  min-height: 100vh;
  overflow-x: hidden;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
main {
  transition: all 0.5s ease;
  background-color: #fff;
}
.Freeshipping p {
  color: black;
  font-family: Courier;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline 0.10em rgba(255, 255, 255, 0);
  transition: text-decoration-color 250ms;
  flex-shrink: 0;
}
.Freeshipping p:hover {
  text-decoration-color: black;
}
.Freeshipping {
  background-color: gainsboro;
  min-height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .Freeshipping p {
    font-size: 13px;
  }
  .Freeshipping {
    min-height: 2em;
  }
}
.topbar {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: -1px;
}
.maincategory {
  display: flex;
  padding: 1em;
  padding-bottom: 2em;
  padding-top: 2em;
  color: white;
  font-family: Courier;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;
  text-decoration: underline 0.10em rgb(255, 255, 255, 0);
  transition: text-decoration-color 250ms;
  text-underline-offset: 0.5em;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.maincategory:hover {
  text-decoration-color: white;
}
.containertop2 ul {
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
  z-index: 0;
}
.containertop1 {
  display: flex;
  margin-left: -8%;
  padding: 0;
  border: 0;
  justify-content: right;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
}
.Logoicon button {
  background: transparent;
  border: none;
  margin: none;
  font-size:0;
}
.Logoicon img {
  cursor: pointer;
}
.Logoicon img:hover {
  transform: translateY(1px);
}
.containertop2 {
  display: flex;
  margin: 0;
  margin-left: 1em;
  margin-right: 1em;
  padding: 0;
  border: 0;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
}
.containertop3 {
  display: flex;
  position: relative;
  margin: 1rem;
  padding: 0;
  border: 0;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
}
.containertop4 {
  display: flex;
  margin-right: -8%;
  padding: 0;
  border: 0;
  gap: 1rem;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.Searchbar {
  display: flex;
  height: 40px;
  width: 250px;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.Searchbar input {
  overflow: hidden;
  background-color: black;
  color: white;
  border-color: black;
  transition: box-shadow 0.5s;
  height: 40px;
  width: 200px;
  text-indent: 10px;
  text-overflow: clip;
  outline: none;
  border-radius: 8px 8px 8px 8px;
}
.Searchbar input:hover {
  box-shadow: 0 0 5px 0.5px white;
}
.Searchbar ::placeholder {
  color: white;
  opacity: 70%;
  letter-spacing: 0px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.Searchbar button {
  background: transparent;
  border: none;
  margin: none;
  margin-right: 10px;
  font-size:0;
}
.Searchbar i {
  transform: scale(1.2);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.Searchbar i:hover {
  transform:scale(1.4)
}
.Account i:hover {
  transform: translateY(1px) scale(1.3);
}
.Wishlist i:hover {
  transform: translateY(1px) scale(1.3);
}
.Shoppingcart i:hover {
  transform: translateY(1px) scale(1.3);
}
.Account button {
  background: transparent;
  border: none;
  margin: none;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.Wishlist button {
  background: transparent;
  border: none;
  margin: none;
}
.Shoppingcart button {
  background: transparent;
  border: none;
  margin: none;
}
.Menu button {
  background: transparent;
  border: none;
  margin: none;
}
.gg-menu-right-alt, .gg-profile, .gg-shopping-cart, .gg-crown, .gg-search {
  color: white;
}
.containertop4 i {
  transform: scale(1.3);
  cursor: pointer;
  z-index: 3;
}
.Menu {
  display: none;
}
.dropdownwindow1, .dropdownwindow2, .dropdownwindow3, .dropdownwindow4, .dropdownwindow5 {
  white-space: nowrap;
  position: absolute;
  max-height: 800px;
  width: 100%;
  overflow: hidden;
  background: white;
  right: 0;
  margin-top: 3.5rem;
  transform: scaleY(0);
  visibility: hidden;
  transition: transform 0.2s, opacity 0.2s, visibility 0.2s;
  transform-origin: top center;
  opacity: 0;
  cursor: default;
}
.dropgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 50%;
  padding-bottom: 2em;
  padding-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
.dropgrid h1, .dropgrid li {
  color: black;
  list-style: none;
}
.dropgrid h1{
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-family: courier;
  font-size: 16px;
}
.dropgrid li {
  padding-bottom: 1em;
  font-family: courier;
  font-size: 14px;
  opacity: 60%;
}
.dropgrid li:hover {
  opacity: 100%;
}
.arrivalsgrid1, .arrivalsgrid2, .arrivalsgrid3, .arrivalsgrid4 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
}
.arrivalsgrid1 ul, .arrivalsgrid2 ul, .arrivalsgrid3 ul, .arrivalsgrid4 ul {
  flex-direction: column;
}
.accountwindow {
  background-color: white;
  box-shadow: 0px 0px 3px 0.3px grey;
  border-radius: 0.5em;
  width: 25em;
  top: 3.4em;
  right: -1em;
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: scaleY(0);
  visibility: hidden;
  transition: transform 150ms, opacity 150ms, visibility 150ms;
  transform-origin: top center;
  opacity: 0;
}
.accountwindowcontent {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1.5em;
  text-align: left;
  padding: 2em;
}
.accountas {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.accountas a {
  color: black;
}
.accountwindow li {
  list-style: none;
  color: black;
  font-size: 1.5em;
  font-family: courier;
  border-bottom: 1px solid rgb(229, 231, 235);
  padding-bottom: 0.5em;
}
.triangle {
  position: absolute;
  background-color: transparent;
  width: 0em;
  left: 21.75em;
  height: 2em;
  bottom: 26.2em;
  border-top: 1em solid transparent;
  border-right: 1em solid transparent;
  border-left: 1em solid transparent;
  border-bottom: 1em solid white;
}
.accountbuttons {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-align: center;
}
.login {
  z-index: 4;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  background-color: black;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.register {
  z-index: 4;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  background-color: black;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.triangle2 {
  position: absolute;
  background-color: transparent;
  width: 0em;
  top: 0em;
  right: 0.3em;
  height: 2em;
  border-top: 1em solid transparent;
  border-right: 1em solid transparent;
  border-left: 1em solid transparent;
  border-bottom: 1em solid white;
  display: none;
  z-index: 2;
}
.bikinibar {
  background-color: white;
  position: absolute;
  top: 3.80em;
  right: -0.6em;
  width: 100%;
  border-radius: 0.3em;
  min-width: max-content;
  display: none;
  box-shadow: 0px 0px 3px 0.3px grey;
}
.barcontent {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.8em;
}
.bikinibar ol {
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
}
.bikinisets {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 900;
  min-width: auto;
}
.bikinisets p {
  color: black;
}
.bikinibar a {
  display: flex;
  align-items: center;
  border-radius: 0.3em;
  gap: 1em;
}
.bikinibar a:hover {
  text-decoration-line: underline;
}
.bikinibar h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 900;
  border-bottom: 0.1em solid gray;
  padding-bottom: 0.5em;
}
@media (min-width: 501px) and (max-width: 1279px) {
  .containertop1 {
    justify-content: left;
    margin-left: 2em;
  }
  .containertop2 {
    display: none;
  }
  .containertop3 {
    margin: 0;
  }
  .Searchbar{
    justify-content: right;
  }
  .Searchbar input {
    display: none;
  }
  .Searchbar button {
    margin-right: 17px;
    scale: 1.1;
  }
  .Searchbar i:hover {
    transform: scale(1.2);
    transition: none;
  }
  .Searchbar i:focus {
    transform: scale(1.2);
    transition: none;
  }
  .containertop4 {
    justify-content: right;
    margin-right: 2em;
    flex-grow: 0;
  }
  .containertop4 i:hover {
    transform: scale(1.3);
    transition: none;
  }
  .containertop4 i:focus {
    transform: scale(1.3);
    transition: none;
  }
  .Logoicon img:hover {
    transform: none;
    transition: none;
  }
  .Menu {
    display: block;
  }
}
@media (max-width: 500px) {
  .topbar {
    min-height: 4rem;
  }
  .containertop1 {
    align-items: center;
    justify-content: left;
    margin-left: 2%;
  }
  .containertop1 img {
    height: 70px;
    width: 70px;
  }
  .containertop2 {
    display: none;
  }
  .containertop3 {
    display: none;
  }
  .containertop4 {
    align-items: center;
    justify-content: right;
    gap: 1rem;
    padding-right: 2.5em;
  }
  .containertop4 i {
    transform: scale(1.3);
    transition: none;
  }
  .containertop4 i:hover {
    transform: scale(1.3);
    transition: none;
  }
  .containertop4 i:focus {
    transform: scale(1.3);
    transition: none;
  }
  .Menu {
    display: block;
  }
  .Logoicon img:hover {
    transform: none;
    transition: none;
  }
}
.notificationcontainer1 {
  display: flex;
  box-shadow: 0px 0px 3px 0.3px grey;
  left: 80%;
  bottom: 82.5%;
  position: fixed;
  z-index: 102;
  background-color: #A4C639;
  height: 7%;
  width: 18%;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  transition: all 0.2s;
  transform: scaleY(0);
  transform-origin: center;
}
.notificationcontainer2 {
  display: flex;
  box-shadow: 0px 0px 3px 0.3px grey;
  left: 80%;
  bottom: 82.5%;
  position: fixed;
  z-index: 102;
  background-color: #EA4335;
  height: 7%;
  width: 18%;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  transition: all 0.2s;
  transform: scaleY(0);
  transform-origin: center;
}
.notificationp1 {
  padding: 1em;
  font-family: courier;
  font-weight: 900;
  letter-spacing: 0.1em;
}
.notificationp2 {
  padding: 1em;
  font-family: courier;
  font-weight: 900;
  letter-spacing: 0.1em;
}
.Thethird {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  min-height: 3.5em;
  padding: 20px;
  z-index: 1;
  justify-content: center;
  align-items: center;
}
.Thethird p {
  color: black;
  font-family: Courier;
  padding: 5px;
  margin: 0;
  z-index: 5;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline 0.10em rgba(255, 255, 255, 0);
  transition: text-decoration-color 250ms;
  flex-shrink: 0;
}
.Thethird p:hover {
  text-decoration-color: black;
}
.Thethird span {
  color: black;
  font-family: Courier;
  padding: 5px;
  margin: 0;
  z-index: 5;
  font-size: 15px;
  font-weight: 600;
  flex-shrink: 0;
}
@media (min-width: 501px) and (max-width: 1024px) {
  .notificationcontainer1 {
    left: 68%;
    bottom: 91.5%;
    height: 7%;
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  .notificationcontainer2 {
    left: 68%;
    bottom: 91.5%;
    height: 7%;
    width: 30%;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .notificationcontainer1 {
    left: 2%;
    bottom: 81%;
    height: 7%;
    width: 95%;
    align-items: center;
    justify-content: center;
  }
  .notificationcontainer2 {
    left: 2%;
    bottom: 81%;
    height: 7%;
    width: 95%;
    align-items: center;
    justify-content: center;
  }
  .notificationp1 {
    padding: 1em;
    font-family: courier;
    font-weight: 900;
    letter-spacing: 0.1em;
  }
  .notificationp2 {
    padding: 1em;
    font-family: courier;
    font-weight: 900;
    letter-spacing: 0.1em;
  }
  .Thethird {
    display: none;
  }
}
.promvideo {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: black;
  position: relative;
}
.firstprom {
  width: 80%;
}
.secondprom{
  display: none;
}
@media (max-width: 500px) {
  .firstprom {
    display: none;
  }
  .secondprom{
    display: block;
    width: 100%;
  }
}
.Newlooks {
  background-image: linear-gradient(skyblue, lightblue, powderblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
}
.Newlooks h1 {
  color: black;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  font-weight: 900;
  font-size: 4.5em;
}
.Newlooks p {
  color: black;
  font-family: Courier;
  padding: 0.5em;
  margin: 0;
  font-weight: 900;
  letter-spacing: 0.1em;
  font-size: 1.2em;
}
@media (min-width: 501px) and (max-width: 1024px) {
  .Newlooks h1 {
    font-size: 3.2em;
  }
  .Newlooks p {
    font-size: 1em;
  }
}
@media (max-width: 500px) {
  .Newlooks {
    display: none;
  }
}
.Fashion1 {
  display: flex;
  background-image: linear-gradient(to right, salmon, darksalmon, lightsalmon);
  padding: 1rem;
}
.fashionL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex-grow: 1;
}
.fashionL h1 {
  color: black;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  font-weight: 900;
  font-size: 4.5em;
  letter-spacing: -0.2rem;
  width: 100%;
}
.fashionL p {
  color: black;
  font-family: Courier;
  margin: 0;
  font-size: 2.5em;
  width: 100%;
}
.fashionL span {
  display: none;
  color: black;
  font-family: Courier;
  margin: 0;
  font-size: 2.5em;
  width: 100%;
}
.shopnow1 h1 {
  z-index: 4;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  background-color: black;
  color: white;
  padding: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px white;
}
.shopnow1 button {
  background: transparent;
  border: none;
  margin: none;
  padding-top: 0.5rem;
  font-size:0;
  text-align: center;
}
.shopnow1 h1:hover {
  background-color: #404040;
  transition-duration: 0.3s;
  cursor: pointer;
}
.fashionR {
  display: flex;
  justify-content: right;
  align-items: center;
  align-self: center;
}
.fashionR img {
  width: 80%;
  height: 80%;
}
.learnmore {
  display: none;
}
.learnmore h1 {
  z-index: 4;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  background-color: black;
  color: white;
  padding: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px white;
  overflow: visible;
}
.learnmore button {
  background: transparent;
  border: none;
  margin: none;
  padding-top: 0.5rem;
  font-size:0;
  overflow: visible;
  z-index: 3;
  text-align: center;
}
.learnmore h1:hover {
  background-color: #404040;
  transition-duration: 0.3s;
  cursor: pointer;
}
@media (min-width: 840px) and (max-width: 1024px) {
  .fashionL h1 {
    font-size: 3.5em;
  }
  .fashionL p {
    font-size: 2em;
  }
  .shopnow1 h1 {
    font-size: 15px;
    z-index: 4;
  }
  .shopnow1 button {
    z-index: 3;
    min-width: 130px;
    text-align: center;
  }
  .learnmore h1 {
    z-index: 4;
  }
  .learnmore button {
    z-index: 3;
    min-width: 130px;
    text-align: center;
  }
}
@media (min-width: 501px) and (max-width: 840px) {
  .fashionL h1 {
    font-size: 3em;
  }
  .fashionL p {
    font-size: 1.5em;
  }
  .shopnow1 h1 {
    font-size: 15px;
    z-index: 4;
  }
  .shopnow1 button {
    z-index: 3;
    min-width: 130px;
    text-align: center;
  }
  .learnmore h1 {
    z-index: 4;
  }
  .learnmore button {
    z-index: 3;
    min-width: 130px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .Fashion1 {
    background-image: none;
    padding: 0rem;
    transform: translate(0, -13em);
  }
  .fashionL {
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
    position: fixed;
  }
  .fashionL h1 {
    font-size: 1.6em;
    letter-spacing: 0.8px;
    color: white;
    padding-bottom: 0.5rem;
  }
  .fashionL p {
    display: none;
  }
  .fashionL span {
    display: block;
    font-size: 1em;
    color: white;
    padding-bottom: 0.5rem;
  }
  .shopnow1 button {
    padding: 0;
    padding-bottom: 0.5rem;
    z-index: 3;
    min-width: 130px;
    text-align: center;
  }
  .shopnow1 h1 {
    font-size: 1rem;
    z-index: 4;
    color: white;
    margin: 0;
    padding-bottom: 0.7rem;
    box-shadow: 3px 3px white;
  }
  .learnmore {
    display: block;
  }
  .learnmore button {
    padding: 0;
  }
  .learnmore h1 {
    font-size: 1rem;
    z-index: 4;
    color: white;
    margin: 0;
    padding-bottom: 0.7rem;
    box-shadow: 3px 3px white;
  }
  .learnmore button {
    z-index: 3;
    min-width: 150px;
    text-align: center;
  }
  .fashionR img {
    width: 100%;
    display: none;
  }
}
.Summer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.boxsection {
  width: 100%;
  position: relative;
}
.Summercollection {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.Summercollection h1 {
  font-family: Courier;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.grid {
  grid-template-columns: repeat(7, 1fr);
  scroll-snap-type: x mandatory;
  gap: 1rem;
  display: grid;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  min-height: 23em;
  transition: scroll 0.5s ease-in-out;
}
body ::-webkit-scrollbar {
  width: 5px;
  height: 4px;
  appearance: none;
  margin: 5px;
}
body ::-webkit-scrollbar-thumb {
  background-color: rgb(170, 170, 170);
  border-radius: 1rem;
}
body ::-webkit-scrollbar-track {
  background: rgb(238, 238, 238);
  border-radius: 1rem;
}
.wishlistbutton{
  background: transparent;
  position: absolute;
  display: flex;
  bottom: 2.9em;
  left: 15em;
  height: 3em;
  width: 3.3em;
  border: none;
  margin: none;
  z-index: 30;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.wishlistbutton .gg-crown {
  color: black;
  clip-path: polygon(24% 5px, 50.00% 0.6px, 77% 40.69%, 100% -3.23%, 101% 100%, 48% 107.69%, 0px 96.77%, 0px 2.23%);
}
.bikinicontainer{
  position: relative;
}
.bikinicontainer i{
  color: black;
  height: 13px;
  width: 20px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 324px;
  display: none;
}
.box1, .box2 {
  position: relative;
  z-index: 30;
  opacity: 50%;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.box1 p{
  padding: 0 1.2px 1.4px 0px;
}
.box2 p {
  padding: 0 0 1.2px 1px;
}
.bikinihs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.grid a {
  z-index: 50;
}
.base1, .base2, .base3, .base4, .base5, .base6, .base7, .base8, .base9, .base10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 319px;
  gap: 0.5em;
}
.bikinihs h2 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: black;
  font-weight: 900;
  transition: all 150ms ease-in-out;
}
.bikinihs h3 {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  color: black;
  transition: all 150ms ease-in-out;
}
a {
  text-decoration: none;
}
@media (max-width: 500px) {
  .Summercollection h1 {
    font-size: 1.2em;
    justify-self: center;
    align-self: center;
    margin-top: 2em;
    padding: 0;
  }
  .container {
    display: none;
  }
  .box1, .box2 {
    display: none;
  }
  .grid {
    scale: 0.8;
  }
  .grid h2 {
    letter-spacing: 0.1em;
  }
}
.SPORTS {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
.hsport {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hsport h1 {
  color: black;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  margin-top: 2rem;
  position: relative;
  font-weight: 900;
  font-size: 50px;
}
.hsport p {
  color: black;
  font-family: Courier;
  padding: 10px;
  margin: 0;
  position: relative;
  font-size: 25px;
}
.sport1 {
  display: flex;
  width: 90%;
  height: 90%;
}
.sport2 {
  display: flex;
  width: 90%;
  height: 90%;
}
.shopnow2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}
.shopnow2 h1 {
  z-index: 3;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  background-color: lightgrey;
  padding: 1em;
  margin-top: 0.8em;
  color: black;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px black;
  overflow: visible;
}
.shopnow2 button {
  background: transparent;
  border: none;
  margin: none;
  font-size:0;
  overflow: visible;
}
.shopnow2 p {
  margin-top: 0.8em;
  display: flex;
  font-size: 2rem;
  letter-spacing: 0.1em;
  font-family: Courier;
}
.shopnow2 h1:hover {
  background-color: grey;
  transition-duration: 0.3s;
  cursor: pointer;
}
.shopnow3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}
.shopnow3 h1 {
  z-index: 3;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  background-color: lightgrey;
  color: black;
  padding: 1em;
  margin-top: 0.8em;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px black;
  overflow: visible;
}
.shopnow3 button {
  background: transparent;
  border: none;
  margin: none;
  font-size:0;
  overflow: visible;
}
.shopnow3 p {
  margin-top: 0.8em;
  font-size: 2rem;
  letter-spacing: 0.1em;
  font-family: Courier;
}
.shopnow3 h1:hover {
  background-color: grey;
  transition-duration: 0.3s;
  cursor: pointer;
}
@media (max-width: 500px) {
  .hsport h1 {
    margin: 0;
    font-size: 2em;
  }
  .hsport p {
    font-size: 1em;
  }
  .SPORTS {
    flex-direction: column;
    margin-top: 1em;
  }
  .sport1 {
    scale: 0.9;
  }
  .sport2 {
    scale: 0.9;
  }
  .shopnow2 {
    padding: 0;
  }
  .shopnow2 p {
    font-size: 1.5rem;
    margin: 0;
  }
  .shopnow2 h1 {
    font-size: 0.8rem;
    box-shadow: 3px 3px black;
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }
  .shopnow3 {
    padding: 0;
  }
  .shopnow3 p {
    font-size: 1.5rem;
    margin: 0;
  }
  .shopnow3 h1 {
    font-size: 0.8rem;
    box-shadow: 3px 3px black;
    margin: 0;
    margin-top: 0.5em;
  }
}
.contacts {
  display: flex;
  background-color: rgb(24, 24, 24);
  border: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.5s ease;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.ftgrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 85%;
  justify-content: center;
  justify-items: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.ftgrid li {
  padding: 5px;
  font-family: courier;
  color: darkgrey;
  list-style: none;
}
.ftgrid li:hover {
  color: white;
  cursor: pointer;
}
.ftgridcolumn1 {
  grid-column: span 2;
}
.ftgridcolumn1 ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
}
.ftgridcolumn2 {
  grid-column: span 2;
}
.ftgridcolumn2 ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
}
.ftgridcolumn3 {
  grid-column: span 2;
}
.ftgridcolumn3 input{
  overflow: hidden;
  background-color: rgb(24, 24, 24);
  color: white;
  border-color: darkgray;
  z-index: 1;
  text-indent: 10px;
  text-overflow: clip;
  outline: none;
  height: 3em;
  width: 23em;
  transition: box-shadow 0.3s;
  border-width: 1px;
  margin-bottom: 1em;
  font-family: courier;
  font-weight: 900;
  letter-spacing: 0.5px;
}
.ftgridcolumn3 input:hover {
  box-shadow: 0 0 5px 0.5px white;
}
.ftgridcolumn3 textarea{
  overflow: hidden;
  background-color: rgb(24, 24, 24);
  color: white;
  border-color: darkgray;
  z-index: 1;
  text-indent: 10px;
  text-overflow: clip;
  outline: none;
  height: 8em;
  width: 23em;
  transition: box-shadow 0.3s;
  border-width: 1px;
  resize: none;
  margin-bottom: 1em;
  padding-top: 0.5em;
  font-family: courier;
  font-weight: 900;
}
.ftgridcolumn3 textarea:hover {
  box-shadow: 0 0 5px 0.5px white;
}
.ftgridcolumn3 form {
  display: flex;
  flex-direction: column;
}
.ftgridcolumn3 button {
  height: 3em;
  width: 6em;
  font-family: courier;
  font-size: 16px;
  font-weight: 900;
  background: transparent;
  background-image: linear-gradient(45deg, #ec7095 30%, rgb(251, 138, 52) 60%, #FCE043 100%);
  background-size: 300%;
  animation: bg-animation 20s infinite alternate;
  transition: box-shadow 0.3s;
  border: white;
}
.ftgridcolumn3 button:hover {
  box-shadow: 0.3px 0.3px 1.5px 1.5px white;
  cursor: pointer;
}
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.ftgrid h1 {
  color: white;
  margin: 0;
  margin-bottom: 0.5em;
  margin-left: 0.25em;
  padding: 0;
  border: 0;
  font-size: 20px;
  font-family: courier;
}
.ftgridcolumn1 h1, .ftgridcolumn2 h1 {
  margin-left: 0.25em;
}
@media (min-width: 501px) and (max-width: 1024px) {
  .ftgrid {
    grid-template-columns: repeat(4, 1fr);
  }
  .ftgridcolumn3 {
    margin-top: 3em;
    grid-column: span 4;
  }
  .container {
    display: none;
  }
  .box1, .box2 {
    display: none;
  }
}
@media (max-width: 500px) {
  .contacts {
    margin-top: 2em;
  }
  .ftgrid {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2em;
  }
  .ftgridcolumn1 {
    justify-self: left;
  }
  .ftgridcolumn2 {
    justify-self: left;
    margin-top: 1em;
  }
  .ftgridcolumn3 {
    justify-self: left;
    margin-top: 2em;
  }
  .ftgridcolumn1 h1 {
    margin-bottom: 0.5em;
    margin-left: 0.2em;
  }
  .ftgridcolumn3 input {
    width: 18em;
  }
}